* body {
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", sans-serif;
}

.container2 {
    height: auto;
    width: 200px;
    color: black;

}

.text {
    color: white;
}

.centralizar {
    padding-left: 150px;
}

.menu {
    height: 800px;
    width: 300px;
    background-color: darkgray;
    float: left;
}

.text1 {
    color: white;
    padding-right: 100px;
}

.row {
    margin-left: -30px;
    margin-right: -40px;
}

.container {
    margin-top: 20px;
}

.container .btn-btn-primary {
    margin-top: 10px;
    margin-left: 10px;
    left: 80%;
    border-radius: 5px;
    position: relative;
    background: rgb(51, 255, 0);
    color: rgb(255, 255, 255);
    height: 40px;
    width: 100px;
}

.container .btn-btn-primary:hover {
    background: black;
    color: white;
    transition: 0.3s ease-in-out;
}